@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
/*font-family: 'Orbitron',
sans-serif;*/

$corcalc: #4c6581;
$corcalcsombra: #223544;
$corcalclight: #bec1c5;
$corbuttons: #7F8F9F;
$corbuttonplus: #61A9DA;
$corbuttonoff: #EB5757;
$corbuttonfunc: #68C6AB;
$corscreen: #9ACC5E;
$corscreenshadow: #8EBE56;
$corscreennumber: #6D9B3C;
$corborda: #000000;
$corbasetemp: #d3d3d3;

@mixin buttonDefault(){
    // box-shadow: 0px 0px 5px #000000a8;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 8px;
    border-bottom: 3px solid $corcalclight;
    min-width: 50px;
    cursor: pointer;
}

@mixin buttonClick(){
    // box-shadow: 0px 0px 10px #00000069;
    border-bottom: 0px solid $corbuttons;
    border-top: 3px solid $corcalc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: $corbasetemp;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    border: 5px solid $corborda;
    border-radius: 22px;
    box-shadow: 10px 10px 5px #000000a8;
}

#container{
    background-color: $corcalc;
    border-top: 5px solid $corcalcsombra;
    border-left: 5px solid $corcalcsombra;
    border-radius: 15px;
    padding: 10px 30px 20px 30px;
    width: 300px;
}

p{
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Orbitron', sans-serif;
    font-size: .8em;
    color: $corcalcsombra;
}

#visorCalc{
    border: 5px solid $corcalcsombra;
    margin-bottom: 10px;
    margin-left: -7px;
    border-radius: 10px;
    width: 250px;
    height: 62px;
}

#interno-visorCalc{
    background-color: $corscreen;
    border-top: 8px solid $corscreenshadow;
    border-left: 6px solid $corscreenshadow;
    border-radius: 8px;
    padding: 0px 10px 5px 10px;
    font-size: 2em;
    font-family: 'Orbitron', sans-serif;
    text-align: right;
    height: 53px;  
}

#bodyCalc{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 10px;
}

.buttonColum-Calc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.individualButton-Calc{
    background-color: $corbuttons;
    @include buttonDefault();
    &:active{
        @include buttonClick();
    }
}

.plusButton-Calc{
    background-color: $corbuttonplus;
    @include buttonDefault();
    height: 102px;

    display: flex;
    justify-content: center;
    align-items: center;
    &:active{
        @include buttonClick();
    }
}

.ac-Button-Calc{
    background-color: $corbuttonoff;
    @include buttonDefault();
    text-transform: uppercase;
    font-size: .9em;
    &:active{
        @include buttonClick();
    }
}

.functionButton-Calc{
    background-color: $corbuttonfunc;
    @include buttonDefault();

    &:active{
        @include buttonClick
    }
}